# Modélisation

### 0 - importation des modules

In [183]:
# Module pandas pour manipuler le dataframe ensuite constitué :
import pandas as pd

# Module numpy pour manipuler essentiellement des arrays :
import numpy as np
import matplotlib.pyplot as plt

# Module scikitlearn pour la modélisation : 
import sklearn

On importe notre propre module ***preprocessing_data*** qui regroupe les fonctions qui ont servi pour les étapes de preprocessing :

In [184]:
import sys
sys.path.append('./modules')
from modelisation import preprocessing_data

In [185]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### 1 - Sélection du modèle

Avant de se lancer dans les étapes de machine learning, il est important de bien comprendre ce que l'on souhaite prédire, et avec quelles variables, quelles sont les types de toutes ces variables, afin de comprendre quel sera le modèle le plus adapté à notre jeu de données.

On peut commencer par importer à nouveau notre jeu de données :

In [206]:
df = pd.read_csv("data/data_cleaned.csv", sep = "\t")

In [207]:
len(df)

188255

In [208]:
df.head(3)

       tconst                        title  year  runtime                                genres  rate  votes       director                                                                 casting
0  tt13143964  Borat: Subsequent Moviefilm  2020  95       Comedy                                7.0   50191  Jason Woliner  ['Sacha Baron Cohen', 'Maria Bakalova', 'Tom Hanks', 'Dani Popescu']
1  tt1070874   Les Sept de Chicago          2020  129      Drama, History, Thriller              7.9   37295  Aaron Sorkin   ['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron Cohen', 'Jeremy Strong']
2  tt2235695   Rebecca                      2020  121      Drama, Mystery, Romance               6.0   11829  Ben Wheatley   ['Lily James', 'Armie Hammer', 'Kristin Scott Thomas', 'Keeley Hawes']

Nous souhaitons prédire la note (spectateurs) d'un film : ***rate***. Il s'agit d'une variable quantitative, continue sur le segment [1,10].
Pour prédire cette note, nous allons utiliser différentes variables : 
- ***year*** : l'année de sortie du film (quantitative discrète)
- ***runtime*** : la durée du film (quantitative discrète)
- ***votes*** : le nombre de votes recensés pour former la note du film (quantitative discrète)
- ***genres*** : le genre du film (qualitative)
- ***director*** : le réalisateur du film (qualitative)
- ***casting*** : les acteurs du film (liste de qualitatives)

Critère 1 : Quantité de données ;
Critère 2 : structure des données (ici données structurées) ;
Critère 3 : Variables qualitatives / quantitatives

Une regression linéaire semble tout à fait adaptée pour démarrer.

### 2 - Preprocessing

Avant de mettre en oeuvre une modélisation via un modèle de regression linéaire, certaines variables doivent être transformées.

Plus précisément, nous avons besoin de transformer les variables qualitatives **genres**, **casting**, et **director** en variables quantitatives.

Pour la variable **genres**, comme vu précédemment il y a seulement 28 genres présents dans la base de données, donc 28 modalités prises par la variable **genres**. Un endodage du type "***One Hot Encoding***" fera tout à fait l'affaire.

(expliquer le principe du One Hot Encoding)

#### 2.1 - Transformation de la variable ***genres***

In [211]:
list_genres = ["Drama", "Comedy", "Romance", "Action", "Crime", "Thriller", "Horror", "Adventure",
               "Mystery", "Family", "Fantasy", "Sci-Fi", "Musical", "War", "History", "Western",
                "Animation", "Music", "Biography", "Adult", "Sport", "Film-Noir", "News", "Reality-TV",
               "Documentary", "Talk-Show", "Game-Show", "Short"]

In [212]:
preprocessing_data.one_hot_encoding(df, list_genres)

            tconst                        title  year  runtime                                 genres  rate  votes          director                                                                                    casting  genre_Drama  genre_Comedy  genre_Romance  genre_Action  genre_Crime  genre_Thriller  genre_Horror  genre_Adventure  genre_Mystery  genre_Family  genre_Fantasy  genre_Sci-Fi  genre_Musical  genre_War  genre_History  genre_Western  genre_Animation  genre_Music  genre_Biography  genre_Adult  genre_Sport  genre_Film-Noir  genre_News  genre_Reality-TV  genre_Documentary  genre_Talk-Show  genre_Game-Show  genre_Short
0       tt13143964  Borat: Subsequent Moviefilm  2020  95       Comedy                                 7.0   50191  Jason Woliner     ['Sacha Baron Cohen', 'Maria Bakalova', 'Tom Hanks', 'Dani Popescu']                       0            1             0              0             0            0               0             0                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
1       tt1070874   Les Sept de Chicago          2020  129      Drama, History, Thriller               7.9   37295  Aaron Sorkin      ['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron Cohen', 'Jeremy Strong']                     1            0             0              0             0            1               0             0                0              0             0              0             0              0          1              0              0                0            0                0            0            0                0           0                 0                  0                0                0
2       tt2235695   Rebecca                      2020  121      Drama, Mystery, Romance                6.0   11829  Ben Wheatley      ['Lily James', 'Armie Hammer', 'Kristin Scott Thomas', 'Keeley Hawes']                     1            0             1              0             0            0               0             0                1              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
3       tt10682266  Hubie Halloween              2020  102      Comedy, Fantasy, Mystery               5.2   27526  Steven Brill      ['Adam Sandler', 'Kevin James', 'Julie Bowen', 'Ray Liotta']                               0            1             0              0             0            0               0             0                1              0             1              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
4       tt2222042   Love and Monsters            2020  109      Action, Adventure, Comedy              7.1   10780  Michael Matthews  ["Dylan O'Brien", 'Jessica Henwick', 'Michael Rooker', 'Dan Ewing']                        0            1             0              1             0            0               0             1                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
...           ...                 ...             ...  ...                                        ...  ...     ...               ...                                                                  ...                       ..           ..            ..             ..            ..           ..              ..            ..               ..             ..            ..             ..            ..             ..         ..             ..             ..               ..           ..               ..           ..           ..               ..          ..                ..                 ..               ..               ..
188250  tt13334114  Verlust                      2020  110      Drama                                  6.5   130    Esmir Filho       ['Andrea Beltrão', 'Marina Lima', 'Alfredo Castro', 'Ismael Caneppele']                    1            0             0              0             0            0               0             0                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
188251  tt13334054  Guerra                       2020  105      Drama                                  6.0   110    José Oliveira     ['Marta Ramos', 'Ana Alexandre', 'Luís Barbosa', 'Fernando Castro', 'Luís Miguel Cintra']  1            0             0              0             0            0               0             0                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
188252  tt0182675   Adsiz cengaver               1970  83       Adventure, Fantasy                     5.5   1240   Halit Refig       ['Cüneyt Arkin', 'Nebahat Çehre', 'Birsen Ayda', 'Altan Günbay']                           0            0             0              0             0            0               0             1                0              0             1              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
188253  tt2794316   Awara                        2012  160      Action                                 5.5   3550   Rabi Kinagi       ['Jeet', 'Sayantika Banerjee', 'Mukul Dev', 'Ashish Vidyarthi']                            0            0             0              1             0            0               0             0                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0
188254  tt1587857   Shatru                       1984  150      Crime, Drama                           7.9   370    Anjan Choudhury   ['Ranjit Mallick', 'Anup Kumar', 'Chiranjit', 'Manoj Mitra']                               1            0             0              0             1            0               0             0                0              0             0              0             0              0          0              0              0                0            0                0            0            0                0           0                 0                  0                0                0

[188255 rows x 37 columns]

#### 2.2 - Transformation de la variable ***director***

Nous voyons que la situation pour ces deux variables n'est pas la même que la pour la variable ***genres***. En effet un encodage du type "***One Hot Encoding***" risque d'être totalement inapproprié à la structure de ces deux variables. Plus préciséments, contrairement aux genres, les nombres de réalisateurs et acteurs sont très conséquents.

Par exemple pour les directeurs, combien y en a-t-il?

In [106]:
df["director"].nunique()

68373

Il y a 68 373 réalisateurs différents dans notre base de données. Le One Hot Encoding va ainsi générer une sparse matrix de taille 68373x68373 ! Ce n'est pas adapté.

Nous avons ainsi trouvé une autre alternative : à partir d'une formule mathématique, nous allons affecter un score aux réalisateurs, basé sur les notes qu'ont reçu leurs films et le nombre de films qu'ils ont produit.

La formule est la suivante :

$$\frac{1}{rank}rate^2$$

Avec :

- ***rank*** : le classement du film dans la base de données (selon sa note)
- ***rate*** : la note du film par les spectateurs (la variable **rate** de la base de données)

Ainsi pour un réalisateur donné, on obtient son score en faisant la somme des scores de tous ces films.

Pour appliquer cette formule il faut bien evidemment calculer la variable rank pour chaque film.

In [107]:
df = preprocessing_data.add_ranks_films(df)

On vérifie que le rank est bien apparu dans la base, c'est le cas, par exemple on voit que le film "Rebecca" est classée 98 476ème (c'est à dire 98 476ème meilleure note) :

In [108]:
df.head(5)

,tconst,title,year,runtime,genres,rate,votes,director,casting,rank
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,"['Sacha Baron Cohen', 'Maria Bakalova', 'Tom H...",33273.0
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,"['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron ...",6429.0
2,tt2235695,Rebecca,2020,121,"Drama, Mystery, Romance",6.0,11829,Ben Wheatley,"['Lily James', 'Armie Hammer', 'Kristin Scott ...",98476.0
3,tt10682266,Hubie Halloween,2020,102,"Comedy, Fantasy, Mystery",5.2,27526,Steven Brill,"['Adam Sandler', 'Kevin James', 'Julie Bowen',...",140355.0
4,tt2222042,Love and Monsters,2020,109,"Action, Adventure, Comedy",7.1,10780,Michael Matthews,"[""Dylan O'Brien"", 'Jessica Henwick', 'Michael ...",28509.0

Maintenant qu'on a le rank, on peut calculer le score de chaque réalisateur. C'est ce qui a été implémenté dans la fonction ***add_score_realisateurs*** :

In [109]:
df = preprocessing_data.add_scores_realisateurs(df)

On peut vérifier que la fonction a bien marché sur la base de données, on retrouve le score_directeur :

In [110]:
df.head(5)

,tconst,title,year,runtime,genres,rate,votes,director,casting,rank,score_film,score_realisateur
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,"['Sacha Baron Cohen', 'Maria Bakalova', 'Tom H...",33273.0,0.001473,0.001473
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,"['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron ...",6429.0,0.009708,0.012974
2,tt4209788,Le grand jeu,2017,140,"Biography, Crime, Drama",7.4,136590,Aaron Sorkin,"['Jessica Chastain', 'Idris Elba', 'Kevin Cost...",16762.0,0.003267,0.012974
3,tt2235695,Rebecca,2020,121,"Drama, Mystery, Romance",6.0,11829,Ben Wheatley,"['Lily James', 'Armie Hammer', 'Kristin Scott ...",98476.0,0.000366,0.004158
4,tt0462335,High-Rise,2015,119,"Drama, Sci-Fi",5.6,37449,Ben Wheatley,"['Tom Hiddleston', 'Jeremy Irons', 'Sienna Mil...",121716.0,0.000258,0.004158

#### 2.2 - Transformation de la variable ***casting***

Le principe va être le même que pour la variable ***director***, la seule grande différence est que nous avons plusieurs acteurs pour un même film en grande majorité.

Le principe va être le suivant :
- implémenter une fonction ***actors_list_split*** qui va permettre d'obtenir pour chaque ligne du dataframe un film et un seul nom d'acteur. Par exemple un film avec trois acteurs va produire trois lignes avec le même nom de film et un acteur différent pour chaque ligne. Le principe est le même que pour les genres lors de la visualisation.
- appliquer à nouveau une formule pour calculer le score de chaque acteur suivant le **rank** du film qui a déjà été défini

In [111]:
df_temp = df.copy()

Pour permettre la première étape de split, on doit nettoyer un peu la colonne **casting** :

In [112]:
df_temp["casting"] = df_temp["casting"].apply(lambda x : x.replace("[","").replace("]","").replace("'",""))

Ainsi on a juste la liste des différents acteurs, séparés par des virgules :

In [113]:
df_temp.head(3)

,tconst,title,year,runtime,genres,rate,votes,director,casting,rank,score_film,score_realisateur
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,"Sacha Baron Cohen, Maria Bakalova, Tom Hanks, ...",33273.0,0.001473,0.001473
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,"Eddie Redmayne, Alex Sharp, Sacha Baron Cohen,...",6429.0,0.009708,0.012974
2,tt4209788,Le grand jeu,2017,140,"Biography, Crime, Drama",7.4,136590,Aaron Sorkin,"Jessica Chastain, Idris Elba, Kevin Costner, M...",16762.0,0.003267,0.012974

On applique la fonction ***split_elem_col*** implémentée dans le module ***visualisation*** :

In [114]:
# import sys
# sys.path.append('./modules')
from visualisation import split_method

Tout comme le genre, comme le nombre de lignes à split est très long, on montre que la fonction fonctionne correctement uniquement sur les 100 premières lignes :

In [115]:
df_temp = split_method.split_elem_col(df_temp[0:99],'casting')

In [116]:
df_temp

,tconst,title,year,runtime,genres,rate,votes,director,rank,score_film,score_realisateur,casting
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Sacha Baron Cohen
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Maria Bakalova
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Tom Hanks
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Dani Popescu
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,6429.0,0.009708,0.012974,Eddie Redmayne
...,...,...,...,...,...,...,...,...,...,...,...,...
97,tt5592248,Les proies,2017,93,"Drama, Thriller",6.3,50868,Sofia Coppola,78137.0,0.000508,0.011289,Colin Farrell
98,tt2132285,The Bling Ring,2013,90,"Biography, Crime, Drama",5.6,82535,Sofia Coppola,121672.0,0.000258,0.011289,Katie Chang
98,tt2132285,The Bling Ring,2013,90,"Biography, Crime, Drama",5.6,82535,Sofia Coppola,121672.0,0.000258,0.011289,Israel Broussard
98,tt2132285,The Bling Ring,2013,90,"Biography, Crime, Drama",5.6,82535,Sofia Coppola,121672.0,0.000258,0.011289,Emma Watson
98,tt2132285,The Bling Ring,2013,90,"Biography, Crime, Drama",5.6,82535,Sofia Coppola,121672.0,0.000258,0.011289,Claire Julien

On fait l'opération pour la base complète, on obtient la base suivante :

In [117]:
df_temp = pd.read_pickle("./data/data_actors_splitted.pkl")

In [118]:
df_temp

,tconst,title,year,runtime,genres,rate,votes,director,rank,score_film,score_realisateur,casting
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Sacha Baron Cohen
1,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Maria Bakalova
2,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Tom Hanks
3,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Dani Popescu
4,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,6429.0,0.009708,0.012974,Eddie Redmayne
...,...,...,...,...,...,...,...,...,...,...,...,...
761560,tt0048284,Zemlya,1954,82,Drama,5.9,130,Amvrosi Buchma,106877.0,0.000326,0.000326,Pavel Grubnik
761561,tt4084038,Shanthi Appuram Nithya,2011,96,Drama,6.9,260,Murali Vishwa,40873.0,0.001165,0.001165,Archana Sharma
761562,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,598.0,0.129498,0.129498,Ranjith
761563,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,598.0,0.129498,0.129498,Dinesh Sadasivam
761564,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,598.0,0.129498,0.129498,Smruthi Venkat

In [119]:
df_temp.loc[df_temp['title'] == 'Dead But Not Buried']

,tconst,title,year,runtime,genres,rate,votes,director,rank,score_film,score_realisateur,casting
703105,tt2070641,Dead But Not Buried,2012,80,Animation,6.1,14,Phil Mulloy,97499.0,0.000382,0.003738,

On calcule maintenant le score de chaque acteur :

In [120]:
df_temp = preprocessing_data.add_scores_acteurs(df_temp)

In [121]:
df_temp

,tconst,title,year,runtime,genres,rate,votes,director,rank,score_film,score_realisateur,casting,score_acteur
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,33273.0,0.001473,0.001473,Sacha Baron Cohen,0.005991
1,tt0443453,Borat: Leçons culturelles sur l'Amérique pour ...,2006,84,Comedy,7.3,361442,Larry Charles,19925.0,0.002675,0.003958,Sacha Baron Cohen,0.005991
2,tt0889583,Brüno,2009,81,Comedy,5.8,141221,Larry Charles,110166.0,0.000305,0.003958,Sacha Baron Cohen,0.005991
3,tt1645170,The Dictator,2012,83,Comedy,6.4,271848,Larry Charles,70980.0,0.000577,0.003958,Sacha Baron Cohen,0.005991
4,tt3381008,Grimsby - Agent trop spécial,2016,83,"Action, Adventure, Comedy",6.2,91074,Louis Leterrier,84793.0,0.000453,0.007325,Sacha Baron Cohen,0.005991
...,...,...,...,...,...,...,...,...,...,...,...,...,...
761560,tt0048284,Zemlya,1954,82,Drama,5.9,130,Amvrosi Buchma,106877.0,0.000326,0.000326,Sergey Feshchenko,0.000326
761561,tt0048284,Zemlya,1954,82,Drama,5.9,130,Amvrosi Buchma,106877.0,0.000326,0.000326,Pavel Grubnik,0.000326
761562,tt4084038,Shanthi Appuram Nithya,2011,96,Drama,6.9,260,Murali Vishwa,40873.0,0.001165,0.001165,Archana Sharma,0.001165
761563,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,598.0,0.129498,0.129498,Ranjith,0.129498
761564,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,598.0,0.129498,0.129498,Dinesh Sadasivam,0.129498

In [122]:
df_temp.loc[df_temp['title'] == 'Dead But Not Buried']

,tconst,title,year,runtime,genres,rate,votes,director,rank,score_film,score_realisateur,casting,score_acteur
95076,tt2070641,Dead But Not Buried,2012,80,Animation,6.1,14,Phil Mulloy,97499.0,0.000382,0.003738,,0.0

Pour finir, on va regrouper les scores des acteurs pour chaque film pour former un ***score_casting*** ce qui permettra par la suite d'effectuer des modélisations.

A partir de la dataframe obtenue juste avant, nous allons calculer le ***score_casting*** de cette manière pour chaque film :

$$\frac{1}{N}\sum_{i=1}^{N} s_i$$

Où : 
- N : nombre d'acteurs dans le casting du film
- s_i : le score du ième acteur du casting du film

In [123]:
df_temp = preprocessing_data.add_score_casting(df_temp)

On obtient la liste des score_casting pour chaque film :

In [124]:
df_temp

           tconst  score_casting
0       tt0000009       0.000427
1       tt0000574       0.000399
2       tt0000679       0.000644
3       tt0001184       0.000091
4       tt0001258       0.000297
...           ...            ...
188130  tt9913936       0.001925
188131  tt9914286       0.000577
188132  tt9914942       0.000968
188133  tt9916362       0.009136
188134  tt9916538       0.037409

[188135 rows x 2 columns]

Il ne nous reste plus qu'à merge avec df suivant les ***tconst*** :

In [125]:
df = pd.merge(df,df_temp, on =["tconst"])

On obtient finalement la base voulue, c'est à dire pour chaque film on a :
- le score du casting : ***score_casting***
- le score du réalisateur : ***score_realisateur***

In [126]:
df

,tconst,title,year,runtime,genres,rate,votes,director,casting,rank,score_film,score_realisateur,score_casting
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,"['Sacha Baron Cohen', 'Maria Bakalova', 'Tom H...",33273.0,0.001473,0.001473,0.019994
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,"['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron ...",6429.0,0.009708,0.012974,0.019304
2,tt4209788,Le grand jeu,2017,140,"Biography, Crime, Drama",7.4,136590,Aaron Sorkin,"['Jessica Chastain', 'Idris Elba', 'Kevin Cost...",16762.0,0.003267,0.012974,0.017426
3,tt2235695,Rebecca,2020,121,"Drama, Mystery, Romance",6.0,11829,Ben Wheatley,"['Lily James', 'Armie Hammer', 'Kristin Scott ...",98476.0,0.000366,0.004158,0.017847
4,tt0462335,High-Rise,2015,119,"Drama, Sci-Fi",5.6,37449,Ben Wheatley,"['Tom Hiddleston', 'Jeremy Irons', 'Sienna Mil...",121716.0,0.000258,0.004158,0.023217
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188130,tt0179445,Raíces de piedra,1961,79,Drama,6.4,160,José María Arzuaga,"['Humberto Arana', 'Olga Arana', 'Juan Belmont...",73923.0,0.000554,0.000554,0.000616
188131,tt0136223,Gia tin kardia tis oraias Elenis,1967,89,"Comedy, Romance",4.1,80,Antonis Tempos,"['Eleni Anousaki', 'Alekos Tzanetakos', 'Diony...",172323.0,0.000098,0.000098,0.030637
188132,tt0048284,Zemlya,1954,82,Drama,5.9,130,Amvrosi Buchma,"['Aleksei Shvachko', 'Natalya Uzhviy', 'Vladim...",106877.0,0.000326,0.000326,0.001996
188133,tt4084038,Shanthi Appuram Nithya,2011,96,Drama,6.9,260,Murali Vishwa,['Archana Sharma'],40873.0,0.001165,0.001165,0.001165
188134,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,"['Ranjith', 'Dinesh Sadasivam', 'Smruthi Venkat']",598.0,0.129498,0.129498,0.136395

Pour finir, on peut retirer certaines colonnes qui ne nous serviront plus, à savoir **rank** et **score_film** :

In [127]:
df = df.drop(["rank", "score_film"], axis = 1)
df

,tconst,title,year,runtime,genres,rate,votes,director,casting,score_realisateur,score_casting
0,tt13143964,Borat: Subsequent Moviefilm,2020,95,Comedy,7.0,50191,Jason Woliner,"['Sacha Baron Cohen', 'Maria Bakalova', 'Tom H...",0.001473,0.019994
1,tt1070874,Les Sept de Chicago,2020,129,"Drama, History, Thriller",7.9,37295,Aaron Sorkin,"['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron ...",0.012974,0.019304
2,tt4209788,Le grand jeu,2017,140,"Biography, Crime, Drama",7.4,136590,Aaron Sorkin,"['Jessica Chastain', 'Idris Elba', 'Kevin Cost...",0.012974,0.017426
3,tt2235695,Rebecca,2020,121,"Drama, Mystery, Romance",6.0,11829,Ben Wheatley,"['Lily James', 'Armie Hammer', 'Kristin Scott ...",0.004158,0.017847
4,tt0462335,High-Rise,2015,119,"Drama, Sci-Fi",5.6,37449,Ben Wheatley,"['Tom Hiddleston', 'Jeremy Irons', 'Sienna Mil...",0.004158,0.023217
...,...,...,...,...,...,...,...,...,...,...,...
188130,tt0179445,Raíces de piedra,1961,79,Drama,6.4,160,José María Arzuaga,"['Humberto Arana', 'Olga Arana', 'Juan Belmont...",0.000554,0.000616
188131,tt0136223,Gia tin kardia tis oraias Elenis,1967,89,"Comedy, Romance",4.1,80,Antonis Tempos,"['Eleni Anousaki', 'Alekos Tzanetakos', 'Diony...",0.000098,0.030637
188132,tt0048284,Zemlya,1954,82,Drama,5.9,130,Amvrosi Buchma,"['Aleksei Shvachko', 'Natalya Uzhviy', 'Vladim...",0.000326,0.001996
188133,tt4084038,Shanthi Appuram Nithya,2011,96,Drama,6.9,260,Murali Vishwa,['Archana Sharma'],0.001165,0.001165
188134,tt13330846,Patra Vaitha Nerupondru,2020,134,"Action, Crime, Thriller",8.8,160,Vinoth Rajendran,"['Ranjith', 'Dinesh Sadasivam', 'Smruthi Venkat']",0.129498,0.136395

In [128]:
df.sort_values('score_casting', ascending = False).head(50)

,tconst,title,year,runtime,genres,rate,votes,director,casting,score_realisateur,score_casting
47970,tt12406160,The Last Regret,2020,90,Comedy,10.0,841,Don Tjernagel,"['Jordan Abbe', 'J.T. Auger', 'Clint Boevers',...",102.344588,100.805209
168962,tt6866964,Tiempo Limite Para Morir,2017,101,Action,10.0,7,Alonso O. Lara,"['Victor El Indio Estrada', 'Pedro Rivera', 'L...",166.408266,93.129844
168968,tt6247120,El Vengador Del Mojado,2016,87,Crime,10.0,7,Alonso O. Lara,"['Victor El Indio Estrada', 'Pedro Rivera', 'L...",166.408266,93.129844
168963,tt5803828,Venganza Brutal,2016,90,Crime,10.0,7,Alonso O. Lara,"['Luis Huizar', 'Vianey Huizar', 'Jesus Heredi...",166.408266,89.324706
168966,tt6255146,Frente Al Enemigo,2016,89,Crime,9.0,9,Alonso O. Lara,"['Luis Huizar', 'Vianey Huizar', 'Jesus Heredi...",166.408266,89.324706
168959,tt6247180,La Sombra,2016,92,Crime,8.7,7,Alonso O. Lara,"['Luis Huizar', 'Vianey Huizar', 'Jesus Heredi...",166.408266,89.324706
168967,tt6247076,Hombre Sin Precio,2016,96,Crime,10.0,7,Alonso O. Lara,"['Chuy Valencia El Cotija', 'Luis Huizar', 'Je...",166.408266,87.231684
168964,tt8655608,El Motero,2018,115,"Action, Crime, Drama",10.0,5,Alonso O. Lara,"['Luis Huizar', 'Jesus Heredia', 'Vianey Huiza...",166.408266,72.167311
168961,tt8657600,Gallero De Corazon,2018,108,"Adventure, Drama",10.0,5,Alonso O. Lara,"['Chuy Valencia El Cotija', 'Chuy Chavez', 'Lu...",166.408266,70.352067
168960,tt7054376,Los Viejones De Guanajuato 2: Contra El Crimen...,2017,112,"Action, Adventure, Crime",6.8,8,Alonso O. Lara,"['Luis Huizar', 'Vianey Huizar', 'Jesus Heredi...",166.408266,69.667538
168965,tt4910698,Error Fatal,2016,90,Action,10.0,7,Alonso O. Lara,"['Luis Huizar', 'Vianey Huizar', 'Chuy Valenci...",166.408266,60.222639
47973,tt11164090,The Moving on Phase,2020,85,Comedy,9.3,176,Don Tjernagel,"['Matt Anderson', 'Clint Boevers', 'Jillian Br...",102.344588,50.920335
47971,tt9840958,Love Struck Sick,2019,92,Romance,9.4,1048,Don Tjernagel,"['Jordan Abbe', 'Jim Averill', 'Mikey Averill'...",102.344588,26.382505
175154,tt0160316,Girls Loving Girls,1996,60,Adult,10.0,5,Jazzmine,"['Chasey Lain', 'Kaylan Nicole', 'Misty Rain']",12.500000,16.266514
37230,tt9751002,The Available Wife,2020,100,Drama,10.0,5,Jamal Hill,"['Kj Smith', 'Clifton Powell', 'Roger Guenveur...",14.287700,14.300589
144547,tt0134350,Busty Biker Babes,1994,61,Adult,9.8,5,Sarah Jane Hamilton,"['Chasey Lain', 'Kaylan Nicole', 'Isis Nile']",5.649412,13.982985
167130,tt6773994,What Ever Happened to Kathy,1998,78,Drama,9.9,9,Chris Cain,"['Alicia Brockwell', 'Jules Bruff', 'Sophie Ma...",8.910000,8.910231
164118,tt6418340,Found,2016,45,Drama,9.9,7,Jesse Henning,"['Jonathan Able', 'Toochukwu T.C. Anyachonkeya...",8.167500,8.168638
34584,tt7822474,Suvarna Sundari,2019,120,"Action, Thriller",9.8,916,Msn Surya,"['Shamna Kasim', 'Sakshi Chaudhary', 'Jaya Pra...",7.387692,7.503017
101041,tt11207902,Lejos de Casa pelicula Venezolana,2020,87,"Drama, History",9.8,134,Abner Official,"['Angibell', 'Gabriel Buitrago', 'Darwing', 'D...",6.860000,6.860000
43077,tt11350286,Khökhö,2020,124,Drama,9.8,9,Janchivdorj Jamyansuren,"['Tsegmed Ayurzana', 'Zoljargal Batsaikhan', '...",6.402667,6.402667
93084,tt10728214,Songs for a Sloth,2020,85,"Comedy, Drama, Music",9.8,8,Bradley Hasse,"['Richard Hollman', 'Brian McCarthy', 'Ava Eis...",6.002500,6.002627
160325,tt2973412,Threee Geniuses: The Re-Death of Psychedelia,2009,120,Comedy,9.8,5,Dan Kapelovitz,"['Chip The Black Boy', 'Don Bolles', 'Karen Ce...",5.335556,5.335556
58427,tt0144563,Racquel Untamed,1990,74,Adult,9.8,5,Henri Pachard,"['Racquel Darrian', 'Jerry Butler', 'Derrick L...",5.109184,5.074542
60225,tt9008642,Notuku Potu,2017,121,"Horror, Mystery",9.7,943,Basheed S.K.,"['Mumait Khan', 'Manisha Koirala', 'Arjun Sarja']",4.717722,4.761796
61250,tt0160591,Nymph,1996,83,"Adult, Fantasy, Romance",6.6,142,Paul Thomas,"['Chasey Lain', 'Bobby Vitale', 'Ken Dahl', 'P...",0.038695,4.538073
91773,tt1508669,Hopeful Notes,2010,94,Drama,9.7,672,Valerio Zanoli,"['Walter Nudo', 'Colin Ross', 'Ian Poland', 'L...",4.612934,4.513570
174850,tt10984792,Babymetal: Legend- S: Baptism Xx,2018,106,Music,9.6,5,Riko Tanaka,"['Moa Kikuchi', 'Suzuka Nakamoto']",1.920000,4.305143
93694,tt8571428,Vaarthakal Ithuvare,2019,121,Comedy,9.7,474,Manoj Nair,"['Siju Wilson', 'Nandu', 'Vinay Forrt', 'Mammu...",4.276818,4.282946
80098,tt5344460,Mithila Makhaan,2019,131,Drama,9.7,218,Nitin Chandra,"['Anurita Jha', 'Kranti Prakash Jha', 'Pankaj ...",4.714604,4.106993
75878,tt10484276,Danny. Legend. God.,2020,112,"Comedy, Crime, Drama",9.7,68,Yavor Petkov,"['Dimo Alexiev', 'Kate Nichols', 'James Ryan B...",3.920417,3.920464
144215,tt7981224,Life: Amidral,2018,104,Drama,9.7,59,Janchivdorj Sengedorj,"['Navchaa Bazarjav', 'D. Purevsuren', 'Bold-Er...",3.776929,3.767744
66339,tt4515408,Banger,2016,90,"Drama, Thriller",6.0,24,Mike Berry,"['Omar Gooding', 'Clifton Powell', 'Joe Esteve...",0.000941,3.731602
173528,tt10936464,BABYMETAL: Live at Wembley,2016,103,Music,8.8,8,Key Kobayashi,"['Moa Kikuchi', 'Yui Mizuno', 'Suzuka Nakamoto']",2.385143,3.665143
173527,tt11059178,Babymetal: Live at Tokyo Dome: Black Night,2017,84,Music,9.4,7,Key Kobayashi,"['Moa Kikuchi', 'Yui Mizuno', 'Suzuka Nakamoto']",2.385143,3.665143
173526,tt11059236,Babymetal: Live at Tokyo Dome: Red Night,2017,87,Music,9.4,7,Key Kobayashi,"['Moa Kikuchi', 'Yui Mizuno', 'Suzuka Nakamoto']",2.385143,3.665143
135201,tt1308046,There's a Stranger in My House,2009,78,Musical,5.5,58,Clifton Powell,"['Angell Conwell', 'Vivica A. Fox', 'Carl Anth...",0.000390,3.629431
29011,tt1476428,Trapped: Haitian Nights,2010,80,Thriller,5.7,74,Jean-Claude La Marre,"['Kenya Moore', 'Vivica A. Fox', 'Clifton Powe...",0.002249,3.627315
2440,tt13168272,I Flip You Off for Four Hours,2020,242,Crime,9.7,46,David F. Sandberg,['David F. Sandberg'],3.621799,3.618846
145927,tt1231577,The Saints of Mt. Christopher,2011,88,Drama,4.8,35,Shane Dean,"['Rus Blackwell', 'Clifton Powell', 'Tom Sizem...",0.000147,3.611179
2799,tt0350258,Ray,2004,152,"Biography, Drama, Music",7.7,136789,Taylor Hackford,"['Jamie Foxx', 'Regina King', 'Kerry Washingto...",0.031935,3.610360
86192,tt0265133,Crime Partners,2003,102,Crime,3.6,252,J. Jesses Smith,"['Tyrin Turner', ""John 'B.J.' Bryant"", 'Clifto...",0.000740,3.609699
103468,tt4946336,Hunting Season,2016,83,Thriller,2.1,108,Eduardo Castrillo,"['Tom Sizemore', 'Eric Roberts', 'Clifton Powe...",0.000747,3.601715
11477,tt0477051,Norbit,2007,103,"Comedy, Romance",4.1,67684,Brian Robbins,"['Eddie Murphy', 'Thandie Newton', 'Terry Crew...",0.002727,3.597181
84791,tt3146520,The Hills,2017,83,Action,5.4,15,Stephen Stix Josey,"['Holly Joy Gaines', 'Stephen Stix Josey', 'Cl...",0.000258,3.593795
45673,tt1450328,Mooz-Lum,2010,94,"Drama, Family",6.8,985,Qasim Basir,"['Evan Ross', 'Nia Long', 'Roger Guenveur Smit...",0.001284,3.590139
51261,tt0451069,The Gospel,2005,105,"Drama, Music",4.9,1980,Rob Hardy,"['Boris Kodjoe', 'Nona Gaye', 'Idris Elba', 'C...",0.001221,3.589326
147703,tt3924186,Where Hearts Lie,2016,116,"Drama, Thriller",7.8,26,Tony Lindsay,"['Alexander Mulzac', 'Erin Sanderson', 'Clifto...",0.006960,3.588038
52190,tt1866251,Coffin Baby,2013,95,Horror,3.1,862,Dean Jones,"['Bruce Dern', 'Brian Krause', 'Clifton Powell...",0.000156,3.587539
40771,tt2173248,Blood Ransom,2014,101,"Fantasy, Romance, Thriller",4.7,372,Francis dela Torre,"['Alexander Dreymon', 'Jamie Harris', 'Clayton...",0.000374,3.586589

In [132]:
df.loc[df['title'] == 'Forrest Gump']

,tconst,title,year,runtime,genres,rate,votes,director,casting,score_realisateur,score_casting
24,tt0109830,Forrest Gump,1994,142,"Drama, Romance",8.8,1771389,Robert Zemeckis,"['Tom Hanks', 'Robin Wright', 'Gary Sinise', '...",0.231493,0.235016